@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body, html {
  margin: 0;
  padding: 0;
}

.dropDown div {
  color: #fff !important;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  padding-top: 90px;
}

.singleCard {
  width: calc(25% - 50px);
  margin: 20px;
}

.appbar {
  position: fixed !important;
  background: #000;
}

.loader {
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #3f51b5;
  position: fixed;
  text-align: center;
}

.loader::before {
  width: 1px;
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader div {
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  box-shadow: 0 -11px 0 13px rgba(255, 255, 255, .5) inset;
  animation: loader 1s infinite linear;
}
