@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body, html {
  margin: 0;
  padding: 0;
}

.dropDown div {
  color: #fff !important;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  padding-top: 90px;
}

.singleCard {
  width: calc(25% - 50px);
  margin: 20px;
}

.appbar {
  position: fixed !important;
  background: #000;
}
